.focusly {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.5s;
}

.focusly--show {
  opacity: 1;
  visibility: visible;
}

.focusly--show .focusly__container {
  transform: scale(1);
}

.focusly__container {
  position: relative;
  width: min(600px, 90%);
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  transform: scale(0);
  transition: transform 0.5s;
}

.focusly__close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ebebeb;
  font-size: 2rem;
  border: none;
  outline: none;
}

.focusly__close:hover {
  color: #333;
  cursor: pointer;
}

.focusly__content {
  max-height: 80vh;
  overflow-y: auto;
}

.focusly__footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding-top: 20px;
}

.focusly--no-scroll {
  overflow: hidden;
}
